<div class="grid">
    <div class="col-4">
        <div class="card p-fluid">
            <h5>Api Info</h5>
            <form [formGroup]="form" (ngSubmit)="loginUser()">
                <div class="field grid">
                    <label htmlFor="apiPackage" class="col-4">Api Package</label>
                    <div class="col-8">
                        <input pInputText id="apiPackage" type="text"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="apiName" class="col-4">Api Name</label>
                    <div class="col-8">
                        <input pInputText id="apiName" type="text"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="tableName" class="col-4">Table Name</label>
                    <div class="col-8">
                        <input pInputText id="tableName" type="text"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <h5>Property List</h5>

            <p-table [value]="propertyList" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


    </div>

    <div class="col-12">
        <div class="layout-footer">
            <p-button
                label="Say My Name"
                styleClass="w-full"
                (onClick)="sayMyName()"
            ></p-button>
        </div>
    </div>
</div>

